###
### .gitignore
###
### Specifies intentionally untracked files that Git should ignore when maing commits and
### pushing to a repository, preventing unnecessary or sensitive data ffrom being tracked.
###

## macOS
.DS_Store
.DS_Store?
**/.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
